body {
  width: 100%;
  min-height: 100%;
  margin: 1rem auto;
  background-color: #ffffffc4;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #f1939181;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Input Fields */

input[type="text"] {
  width: 500px;
  height: 52px;
  padding: 9px 12px;
  padding-left: 45px;
  border: 1px solid #c4c4c4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  font-size: 1.1rem;
}

input[type="text"].task-update {
  width: 70%;
  height: auto;
  padding: 0px;
  font-size: 1rem;
  font-style: italic;
  border: none;
  outline: none;
}

.icon {
  display: block;
  position: absolute;
  padding: 16px;
  min-width: 42px;
  font-size: 1.2rem;
  color: #8d8d8d;
}

.icon:hover {
  cursor: pointer;
}

input[type="text"]::placeholder {
  font-style: italic;
  color: #c4c4c4;
}

/* End of Input Fields */

.container {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem auto;
}

.tasks-container {
  width: 500px;
  height: auto;
  border: 1px solid #c4c4c4;
  border-top: none;
  border-radius: 2px;
}

.app-footer {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  border: 1px solid #c4c4c4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.task-li {
  padding: 12px;
  border-top: 1px solid #c4c4c4;
}
.checkbox {
  float: left;
  margin-top: -2px;
  margin-right: 0.6rem;
  width: 22px;
  height: 22px;
  background-color: white;
  border: 1px solid #63636373;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.checkbox:checked::before {
  font-size: 16px;
  font-weight: 800;
  padding: 4.3px;
  content: "✓";
  color: rgb(0, 163, 0);
}

.todo-count {
  color: #575757;
}

.emptyList {
  margin: 0.7rem auto;
  text-align: center;
  color: #5757576a;
}

.filters {
  display: flex;
}
.filters li a {
  padding: 0 9px;
  color: #575757;
}

.filters li a:hover {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
.clear-btn {
  color: #575757;
}

.hidden {
  display: none;
}

.delete {
  color: rgb(187, 0, 0);
  float: right;
  cursor: pointer;
}

@media screen and (max-width: 525px) {
  html {
    font-size: 65%;
  }

  input[type="text"],
  .tasks-container,
  .app-footer {
    max-width: 300px;
  }

  .checkbox{
    width: 16px;
    height: 16px;
  }

  .checkbox:checked::before {
    font-size: 10px;
    padding: 3.5px;
  }
}
